
.footer__container {
    background-color: #101522;
margin-top: 14px;

}

.footer__wrap {
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.footer__links__container {
    display: flex;
    justify-content: center;

}

@media screen and (max-width: 820px) {
 .footer__links__container {
    padding-top: 32px;

}
}


.footer__link__wrapper {
    display: flex;
}

@media screen and (max-width: 820px) {
 .footer__link__wrapper {
    flex-direction: column;

}
}

.footer__link__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    color: #fff;
}

@media screen and (max-width: 420px) {
 .footer__link__items {
   
    margin: 0;
    padding: 10px;
    width: 100%;
   
}
}

.footer__link__title {
    font-size: 14px;
    margin-bottom: 16px;

}

.footer__link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

@media screen and (max-width: 420px) {
.footer__link__title {
    font-size: 13px;
    

}
.footer__link {
  
    font-size: 11px;
}
}


.footer__link:hover {
  color:  #f5bd75 ;
    transition: 0.3s ease-in-out;
}


.social__media {

max-width: 1000px;
width: 100%;


}

.social__media__wrap {

display: flex;
justify-content: space-between;
align-items: center;
max-width: 1100px;
margin: 40px auto 0 auto;

}


@media screen and (max-width: 820px) {
.social__media__wrap {

flex-direction: column;

}
}

.social__logo{
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
}

.website__rights {
    color: #fff;
    margin-bottom: 16px;

}

.social__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-right: 74px;
}


.social__icon__link {
    color: #fff;
    font-size: 24px;
}